@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    /* по умолчанию */
}

body {
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

:root {
    --main-color: #DCBF53;
    --title-color: #2E363E;
    --text-color: #434B53;
    --card-background: #F2F6FA;
}

.wrapper {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    min-height: 100%;
    overflow: hidden;
}

.hero {
    background-image: url(/img/hero.png);
    background-position: center center;
    background-repeat: no-repeat;

}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 37px 0;
}

.logo_block {
    display: flex;
    gap: 17px;
    justify-content: space-between;
    align-items: center;
}

.site_name {
    font-weight: 700;
    font-size: 26px;
    line-height: 133%;
    color: var(--title-color);
}

.site_description {
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 143%;
    color: var(--title-color);
    text-align: center;
}

.menu_items {
    display: flex;
    gap: 51px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--title-color);
}

.menu_item {
    color: var(--title-color);
}

.call {
    display: flex;
    gap: 15px;
    color: var(--title-color);
}

.number a {
    font-weight: 700;
    font-size: 18px;
    line-height: 152%;
    color: var(--title-color);
}

.location {
    font-size: 12px;
    line-height: 150%;
}

.utp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-direction: column;
    padding: 100px 0 135px;
    width: 50%;
}

.subtitle {
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--title-color);
    padding: 10px 18px;
    background-color: var(--card-background);
    border-radius: 5px;
}

.utp_title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: var(--title-color);
}

.utp_description {
    font-size: 21px;
    line-height: 143%;
    letter-spacing: -0.2px;
    color: var(--text-color);
}

.utp_cta {
    display: flex;
    align-items: center;
    gap: 16px;
}

.button {
    background: #DCBF53;
    padding: 30px 50px;
    box-shadow: 0px 4px 0px #8D7E47;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 152%;
    color: #FFFFFF;
    transition: background 0.1s;
}

.button:hover {
    background-color: #f7d65f;
}

.button:active {
    position: relative;
    top: 4px;
    box-shadow: 0px 4px 0px #f7d65f;
}

.utp_cta p {
    font-size: 14px;
    line-height: 150%;
    color: var(--title-color);
}

.about {
    padding: 100px 0;
}

.section_title {
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
}

.about_text {
    font-weight: 500;
    font-size: 23px;
    line-height: 143%;
    padding: 0 150px;
}

.partners .container {
    background: #F2F6FA;
    border-radius: 10px;
    padding: 100px 0;
}

.partner_logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.partner_logos img {
    cursor: pointer;
}

.catalog {
    padding: 100px 0
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.product {
    filter: drop-shadow(2px 8px 16px rgba(194, 198, 208, 0.06));
    width: 100%;
    max-width: 380px;
}

.product_img {
    background-color: var(--card-background);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}


.product_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 44px;
    gap: 24px;
    background: #FFFFFF;

    border: 1px solid #F2F6FA;
    border-radius: 0px 0px 10px 10px;
}

.product_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    color: var(--title-color);
}

.product_about {
    font-size: 16px;
    line-height: 150%;
    color: var(--title-color)
}

.product_price {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
}


.product_read_more {
    padding: 20px 40px;
    background: #DCBF53;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
}

.product_read_more:hover {
    background-color: #f7d65f;
}

.see_all_wrap {
    text-align: center;
}

.see_all {
    padding: 12px 50px;
    background: linear-gradient(90deg, #DCBF53 -0.13%, #F7D65D 52.47%, #DCBF53 99.87%);
    box-shadow: 0px 4px 0px rgba(141, 126, 71, 0.47);
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    text-align: center;
    color: #FFFFFF;
    transition: background 0.2s;
}

.see_all:hover {
    background: linear-gradient(90deg, #f7d65f -0.13%, #F7D65D 52.47%, #f7d65f 99.87%);
}

.see_all:active {
    position: relative;
    top: 4;
    box-shadow: none;
}