@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    /* по умолчанию */
}

body {
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

:root {
    --main-color: #DCBF53;
    --title-color: #2E363E;
    --text-color: #434B53;
    --card-background: #F2F6FA;
}

.wrapper {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    min-height: 100%;
    overflow: hidden;
}

.hero {
    background-image: url(/img/hero.png);
    background-position: center center;
    background-repeat: no-repeat;

}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 37px 0;
}

.logo_block {
    width: 120px;
}

.site_description {
    font-style: normal;
    margin-top: -20px;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    color: var(--title-color);
    text-align: center;
}

.menu_items {
    display: flex;
    gap: 51px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--title-color);
}

.menu_item {
    color: var(--title-color);
}

.call {
    display: flex;
    gap: 15px;
    color: var(--title-color);
}

.number a {
    font-weight: 700;
    font-size: 18px;
    line-height: 152%;
    color: var(--title-color);
}

.location {
    font-size: 12px;
    line-height: 150%;
}

.utp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-direction: column;
    padding: 100px 0 135px;
    width: 50%;
}

.subtitle {
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--title-color);
    padding: 10px 18px;
    background-color: var(--card-background);
    border-radius: 5px;
}

.utp_title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: var(--title-color);
}

.utp_description {
    font-size: 21px;
    line-height: 143%;
    letter-spacing: -0.2px;
    color: var(--text-color);
}

.utp_cta {
    display: flex;
    align-items: center;
    gap: 16px;
}

.button {
    background: #DCBF53;
    padding: 30px 50px;
    box-shadow: 0px 4px 0px #8D7E47;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 152%;
    color: #FFFFFF;
    transition: background 0.1s;
}

.button:hover {
    background-color: #f7d65f;
}

.button:active {
    position: relative;
    top: 4px;
    box-shadow: 0px 4px 0px #f7d65f;
}

.utp_cta p {
    font-size: 14px;
    line-height: 150%;
    color: var(--title-color);
}

.about {
    padding: 100px 0;
}

.section_title {
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
}

.about_text {
    font-weight: 500;
    font-size: 23px;
    line-height: 143%;
    padding: 0 150px;
}

.partners .container {
    background: #F2F6FA;
    border-radius: 10px;
    padding: 100px 0;
}

.partner_logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.partner_logos img {
    cursor: pointer;
}

.catalog {
    padding: 100px 0
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.product {
    filter: drop-shadow(2px 8px 16px rgba(194, 198, 208, 0.06));
    width: 100%;
    max-width: 380px;
}

.product_img {
    background-color: var(--card-background);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.product_img img {
    width: 300px;
    height: 245px;
}

.product_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 44px;
    gap: 24px;
    background: #FFFFFF;

    border: 1px solid #F2F6FA;
    border-radius: 0px 0px 10px 10px;
}

.product_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    color: var(--title-color);
}

.product_about {
    font-size: 16px;
    line-height: 150%;
    color: var(--title-color)
}

.product_price {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
}


.product_read_more {
    padding: 20px 40px;
    background: #DCBF53;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
}

.product_read_more:hover {
    background-color: #f7d65f;
}

.see_all_wrap {
    text-align: center;
}

.see_all {
    padding: 12px 50px;
    background: linear-gradient(90deg, #DCBF53 -0.13%, #F7D65D 52.47%, #DCBF53 99.87%);
    box-shadow: 0px 4px 0px rgba(141, 126, 71, 0.47);
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.2s;
}

.see_all:hover {
    background: linear-gradient(90deg, #f7d65f -0.13%, #DCBF53 52.47%, #f7d65f 99.87%);
}

.see_all:active {
    position: relative;
    top: 4px;
    box-shadow: none;
}

.be_bartner {
    padding: 100px 0;
}

.be_bartner .container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    border: 8px var(--main-color) solid;
    border-radius: 5px;
    padding: 70px 80px;
    gap: 30px;
    max-width: 500px;
    font-family: 'Montserrat';
    font-style: normal;
}

.form_title {
    font-weight: 700;
    font-size: 26px;
    line-height: 133%;
    color: var(--title-color);
}

.form_subtitle {
    font-size: 16px;
    line-height: 150%;
    margin-top: -25px;
    color: var(--title-color);
}

.form_tel,
.form_email {
    background: var(--card-background);
    border-radius: 8px;
    width: 100%;
    padding: 30px 30px 30px 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #7E868E;
    position: relative;
}

.form_tel {
    background-image: url(/img/formPhone.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 27px;
}

.form_email {
    background-image: url(/img/formEmail.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 27px;
}

.form_button {
    width: 100%;
    padding: 30px;
    text-align: center;
    background: #DCBF53;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #FFFFFF;
    transition: all 0.2s;

}

.form_button:hover {
    background-color: #f7d65f;
}

.form_terms {
    display: flex;
    gap: 7px;
    font-size: 11px;
    line-height: 130%;
    color: #7E868E;
}

.partner_right {
    max-width: 580px;
}

.partner_right .utp_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    margin-top: 24px;
}

.partner_right .utp_description {
    font-size: 23px;
    line-height: 143%;
    margin: 14px 0 50px 0;
}

.partner_bullets {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.bullet_inner {
    max-width: 200px;
}

.bullet_description {
    margin-top: 15px;
    font-size: 14px;
    line-height: 150%;
    color: var(--title-color);
}

.video {
    margin-bottom: 100px;
}

.video .section_title {
    font-size: 36px;
    line-height: 133%;
}

.video_overlay {
    width: 100%;
    cursor: pointer;
}

.swiper-wrapper {
    align-items: center;
}

.review {
    margin-bottom: 100px;
    position: relative;
}

.card {
    max-width: 1180px;
    padding: 70px 143px;
    margin: 0 50px;
    border: 2px solid #E2EAF2;
    /* Тень */

    box-shadow: 2px 8px 16px rgba(194, 198, 208, 0.06);
    border-radius: 5px;

    gap: 54px;

    display: flex;
}

.swiper-slide:not(.swiper-slide-active) {
    padding: 30px 113.188px;
}

.card_left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card_left img {
    width: 40px;
    height: 40px;
}

.review_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 143%;
    color: var(--title-color);
}

.review_text {
    font-size: 15px;
    line-height: 170%;
    color: var(--title-color);
}

.card_right {
    text-align: center;
}

.author_img {
    width: 300px;
}

.review_author {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: var(--title-color);
}

.author_from {
    font-size: 16px;
    line-height: 170%;
    color: #A6AEB6;
}

.swiper-button-prev,
.swiper-button-next {
    top: unset !important;
    bottom: -80px !important;
    position: absolute !important;
    background-color: var(--main-color);
    height: 66px !important;
    width: 66px !important;
    border-radius: 50% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #FFFFFF;
    font-size: 31px !important;
}


.swiper-button-prev {
    left: calc(50% - 75px) !important;
}

.swiper-button-next {
    right: calc(50% - 75px) !important;
}

.numbers .container {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number_item {
    text-align: center;
}

.number_number {
    font-weight: 700;
    font-size: 60px;
    line-height: 143%;
    /* identical to box height, or 86px */

    text-align: center;
    color: var(--main-color);
}

.number_text {
    font-size: 21px;
    line-height: 143%;
    /* or 30px */

    text-align: center;
    letter-spacing: -0.2px;
}

.cotact {
    padding: 100px 0;
}

.cotact .container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.cotact .partner_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px;
}

.contact_logo {
    text-align: center;
}

.contact_logo img {
    width: 200px
}

.coantact_text {
    font-size: 19px;
    line-height: 143%;
    color: #000;
}

.cotact .call img {
    width: 80px;
}

.number_contact a {
    font-weight: 700;
    font-size: 30px;
    line-height: 152%;
    color: var(--title-color);

}

.cotact .location {
    font-size: 23px;
    line-height: 150%;
}

.footer {
    text-align: center;
    padding-bottom: 50px;

}

.footer span {
    display: inline-flex;
    gap: 20px;
}


.footer_text {
    margin-top: 15px;
    font-size: 12px;
    line-height: 150%;
    text-align: center;

    /* Серый 5 */

    color: #7E868E;

}